# Build artifacts
bzImage
bzImage_i386
initrd.cpio.xz
linux.iso
linux_i386.iso
busybox-static
rootfs/bin/busybox
rootfs_i386/bin/busybox
.syslinux/
linux-7.1.6/
alpine-minirootfs-*.tar.gz
linux.tar.xz
*.iso
*.img
*.bin
*.lst
*.xz
*.gz
*.tar
*.log
__pycache__/

# Runtime temp mount directories inside rootfs
rootfs/dev/
rootfs/tmp/
rootfs/var/
rootfs_i386/dev/
rootfs_i386/tmp/
rootfs_i386/var/

# Linux kernel source submodule build outputs
src/linux/
