# Build artifacts
bzImage
bzImage_i386
initrd.cpio.xz
linux.iso
linux_i386.iso
busybox-static
rootfs/bin/busybox
.syslinux/
linux-7.1.6/
alpine-minirootfs-*.tar.gz
linux.tar.xz
*.iso
*.xz
*.gz
*.log
__pycache__/

# Linux kernel source submodule build outputs
src/linux/
